@-webkit-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; display: none; }
    100% { opacity: 1; }
  }
  @-moz-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeInFromNone {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeOutFromSthing {
    0%   { opacity: 1;  }
    100% { opacity: 0;  }
  }
  $swipe-distance: 30deg;
  @keyframes swipeHand {
    0% { transform: skew(0) ;}
    // 10% { transform: skew(-($swipe-distance)) ;}
    25% { transform: skew(($swipe-distance)) ;}
    // 30% { transform: skew(-($swipe-distance)) ;}
    50% { transform: skew(0) ;}
    
    66% { transform: skew(-($swipe-distance)) ;}
    // 50% { transform: skew(-($swipe-distance)) ;}

    100% { transform: skew(0) ;}
    // 10% { @include transform ( skew(-($swipe-distance))) ;}
    // 20% { @include transform ( skew(($swipe-distance))) ;}
    // 30% { @include transform ( skew(-($swipe-distance))) ;}
    // 40% { @include transform ( skew(($swipe-distance))) ;}
    // 50% { @include transform ( skew(-($swipe-distance))) ;}
    // 100% { @include transform ( skew(($swipe-distance))) ;}   
  }