@-webkit-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; display: none; }
    100% { opacity: 1; }
  }
  @-moz-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeInFromNone {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeOutFromSthing {
    0%   { opacity: 1;  }
    100% { opacity: 0;  }
  }